.container {
  flex-direction: row;
  height: 80vh;
  margin: 2vh 2vh 2vh 2vh;
  border: 1px solid;
  transition: background-color 0.5s ease;
  align-items: center;
  display: flex;
  border-radius: 2vh;
}

.avatarImage {
  height: 16vw;
  width: 16vw;
  border-radius: 8vw;
  border: 2px solid rgb(175, 175, 175);
}
.leftTriangle {
  border-color: transparent rgb(235, 235, 235) transparent transparent;
  border-style: solid;
  border-width: 2vh 2vh 2vh 2vh;
  height: 0px;
  width: 0px;
  flex: 1;
}
.questionContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 0 3vh 0 0;
  align-items: center;
}
.questionDetailContainer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  border-radius: 2vh;
  background-color: rgb(235, 235, 235);
  padding: 1vh 2vw 1vh 2vw;
  flex: 100;
}
.userAsked {
  font-size: 4vh;
  font-weight: 600;
  margin-top: 1vh;
}
.leftSideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 20%;
  padding: 1vw 0 1vw 1vw;
}
.wouldYouRatherText {
  font-size: 48px;
  font-weight: 600;
  color: rgb(73, 73, 73);
}
.answerText {
  display: flex;
  align-items: center;
  padding: 3vh 10vh 3vh 10vh;
  margin: 2vh 0 0 0;
  cursor: pointer;
  flex-direction: row;
  border-radius: 4vh;
  justify-content: space-between;
  background-color: rgb(194, 194, 194);
  transition: background-color 0.2s ease, transform 0.5s ease, color 0.2s ease;
}
.answerText:hover {
  background-color: rgb(68, 68, 68);
  color: white;
  transform: translate(0.5vw, 0);
  font-weight: 500;
}
.arrowIcon {
  padding: 0 0 0 10px;
}
.questionTextDetailContainer {
  display: flex;
  flex: 2;

  padding-top: 20px;
  flex-direction: column;
}
.bottomContainer {
  display: flex;
  flex: 2;

  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
}
.choiceOptionContainer {
  flex: 6;
  display: flex;
  flex-direction: column;
}
.choiceContainer {
  flex: 1;
  border-radius: 2vh;
  display: flex;
  margin: 1vh 0 1vh 0;
  align-items: center;
  transition: all 0.5s ease;
  flex-direction: row;
}
.selectedContainer {
  background-color: rgb(255, 255, 255);
}
.optionTextDetail {
  font-size: 24px;
  margin: 0 2vh 0 2vh;
  max-height: 80%;
  word-wrap: break-word;
  /* overflow: auto; */
  font-weight: 400;
  line-clamp: 2;
  max-width: 60vw;
}
/* .choiceContainer:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
  transform: scale(1.01, 1.01);
} */
.setHover:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
  transform: scale(1.01, 1.01);
}
