.questionContainer {
	height: 82vh;
	flex-direction: column;
	border: 2px solid rgb(220, 220, 220);
	border-radius: 2vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	margin: 4vh 16vw 0 16vw;
}
.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 10vh;
	border-radius: 2vh;
}
.headerItem {
	display: flex;
	flex: 1;
	font-weight: 500;
	font-size: 20px;
	padding: 2vw 2vw 2vw 2vw;
	align-items: center;
	justify-content: center;
	background-color: rgb(220, 220, 220);
	transition: all 0.2s ease;
}
.headerItemSelected {
	background-color: white;
	display: flex;
	flex: 1;
	font-weight: 500;
	font-size: 20px;
	padding: 2vw 2vw 2vw 2vw;
	align-items: center;
	justify-content: center;
}
.headerItem:hover {
	background-color: rgb(236, 236, 236);
	cursor: pointer;
}
.leftSideId {
	border-right: 1px solid;
}
.selectedItem {
	transition: color 0.2s ease;
}
.unselectedItem {
	color: rgb(0, 0, 0);
	transition: color 0.2s ease;
}
